<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Fazer Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
  <form>
    <!-- E-MAIL-->
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <!-- SENHA -->
    <ion-item lines="full">
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <!-- BUTTON FAZER LOGIN -->
        <ion-button [routerLink]="['/home']" type="submit" color="primary" expand="block" >Entrar</ion-button>
        <br>
        <!-- BUTTON ESQUECEU A SENHA -->
        <center><a [routerLink]="['/recuperacao-de-senha']" class="small-text">Esqueceu a senha?</a></center>
      </ion-col>
    </ion-row>
  </form>
</div>
</ion-content>