<ion-header>
  <ion-toolbar>
    <ion-title>
      Seja Bem Vindo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/registro']" expand="block" color="danger">REGISTRAR</ion-button>

        <span class="divider line one-line">ou</span>

        <ion-button [routerLink]="['/login']" expand="block" color="primary">LOGIN</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>